<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instagram Reel Downloader</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <nav>
      <div class="container">
        <div class="logo">Reel Downloader</div>
        <div class="links">
          <a href="https://www.instagram.com/sainathpoojaryy/">Made by</a>
        </div>
      </div>
    </nav>
    <section class="hero container">
      <!-- <div class="aligner"> -->
      <div class="left">
        <div class="title">Instagram Reel Downloader</div>
        <div class="subtitle">
          Instagram Reel Downloader is a Ad free and fast Instagram reel
          Downloader website. Just Copy link from instagram and paste it in the
          website.
        </div>
        <form action="download_reel" method="post">
          <div class="input">
            <input
              type="text"
              name="reelurl"
              id="reelurl"
              placeholder="Instagram Reel url"
            />
            <button type="submit">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 0 24 24"
                width="24px"
                fill="#fff"
              >
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path
                  d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z"
                />
              </svg>
            </button>
          </div>
          <div class="button">Download</div>
        </form>
      </div>
      <div class="right">
        <img src="static/assets/hero.svg" alt="Instagram" />
      </div>
      <!-- </div>n -->
    </section>
  </body>
</html>
